@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div id="searchBar">

@using (Html.BeginForm("Details", "Home", FormMethod.Get)) {
    <fieldset>
    <input type="text" id="address" name="address"/>
    <button type="submit">Search</button>
    </fieldset>
}
</div>
